body {
    
    background-color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Roboto", Helvetica Neue, Helvetica, Arial, Lucida Grande, Lucida Sans, sans-serif;
    margin: 0;
    padding: 0;
    
}

::-moz-selection {
    background: #333333;
    color: #FFFFFF;
}

::selection {
    background: #333333;
    color: #FFFFFF; 
}

header {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    overflow: auto;
    padding: 32px 0 64px 0;
    width: 100%;
}

.header-wrapper, .wrapper, .footer-wrapper {
    display: block;
    margin: 0 auto;
    max-width: 700px;
    overflow: auto;
}

#logo {
    float: left;
    display: inline;
    text-align: left;
}

#logo a, #logo a:hover {
    color: #333333;
    font-weight: 500;
    text-decoration: none;
}

#dot {
    font-weight: 700;
    margin: 0;
    padding: 0;
}

header nav {
    border: none;
    float: right;
    font-weight: 400;
    text-align: right;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: #a0a0a0;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

header nav ul li a:hover {
    color: #333333;
}

h1, h2, h3 {
    color: #333333;
    font-weight: 700;
}

h2 {
    font-size: 32px;
    margin: 64px 0 0 0;
    line-height: 1;
}

h1 {
    letter-spacing: -1px;
    margin: 0 0 32px 0;
    line-height: 1;
}

p {
    color: #333333;
    font-weight: 400;
    line-height: 1.6;
    margin: 0 0 32px 0;
}

.quote {
    color: #a0a0a0;
}

.writing {
    border: none;
    font-weight: 400;
}

.writing ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
}

.writing ul li {
    border-bottom: 1px solid #eeeeee;
    margin: 0;
}

.writing ul li:last-child {
    border-bottom: none;
}

.writing ul li a {
    color: #1573dd;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
}

.writing ul li a:after {
    border-bottom: 2px solid #1573dd;
    bottom: -4px;
    content: '';
    left: 0;
    position: absolute;
    transition: width 0.3s ease-out;
    width: 0;
}

.writing ul li a:hover:after {
    transition: width 0.3s;
	width: 100%;
}

.date {
    color: #a0a0a0;
    display: inline;
    float: right;
}
   
}

footer {
    margin: 0;
    overflow: hidden;
    padding: 64px 0 32px 0;
    width: 100%;
}

footer a {
    color: #1573dd;
    position: relative;
    text-decoration: none;
	white-space: nowrap;
}

footer a:after {
    bottom: -4px;
    border-bottom: 2px solid #1573dd;
    content: '';
    position: absolute;
    left: 0;
    transition: width 0.3s ease-out;
    width: 0; 
}

footer a:hover:after {
	transition: width 0.3s;
    width: 100%;
}

@media only screen and (max-width: 740px) {

    #logo a, #logo a:hover {
        font-size: 18px;
}
    header nav ul li a {
        font-size: 18px;
        margin: 0 0 0 10px;
}

    h1 {
        font-size: 32px;
        letter-spacing: -1px;
}
    p {
        font-size: 18px;
}
    
    .writing {
    font-size: 18px;
}
    .writing ul li {
    padding: 14px 0 14px 0;
}

    .writing ul li:last-child {
    padding: 14px 0 28px 0;
}

    footer {
        font-size: 18px;
}
    .header-wrapper, .wrapper {
        padding: 0 10px;
}
    .footer-wrapper {
        padding: 0 10px 5px 10px;
    }
}

@media only screen and (min-width: 741px) {

    #logo a, #logo a:hover {
        font-size: 20px;
}
    header nav ul li a {
        font-size: 20px;
        margin: 0 0 0 20px;
}

    h1 {
        font-size: 44px;
        letter-spacing: -1px;
}
    p {
        font-size: 20px;
}
    .writing {
    font-size: 20px;
}
    
    .writing ul li {
    padding: 16px 0 16px 0;
}

    .writing ul li:last-child {
    padding: 16px 0 32px 0;
}
    
    #archive a {
    font-size: 20px;
}
   
    footer {
        font-size: 20px;
}
    .header-wrapper, .wrapper {
        padding: 0 20px;
}
        .footer-wrapper {
        padding: 0 20px 5px 20px;
    }
}
