body {
    
    background-color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    
}

::-moz-selection {
    background: #333333;
    color: #FFFFFF;
}

::selection {
    background: #333333;
    color: #FFFFFF; 
}

header {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    overflow: auto;
    padding: 64px 0 96px 0;
    width: 100%;
}

.header-wrapper {
    display: block;
    margin: 0 auto;
    width: auto;
    max-width: 100%;
    overflow: auto;
    padding: 0 64px;
}

.wrapper, .footer-wrapper {
    display: block;
    margin: 0 auto;
    max-width: 700px;
    overflow: auto;
}

#logo {
    float: left;
    display: inline;
    text-align: left;
}

#logo a, #logo a:hover {
    color: #111111;
    font-weight: 700;
    text-decoration: none;
}

header nav {
    border: none;
    float: right;
    font-weight: 400;
    text-align: right;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: #111111;
    font-weight: 400;
    transition: all 0.2s ease-out;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
}

header nav ul li a:after {
    bottom: -4px;
    border-bottom: 2px solid #111111;
    content: '';
    position: absolute;
    left: 0;
    transition: width 0.2s ease-out;
    width: 0; 
}

header nav ul li a:hover:after {
    transition: width 0.2s;
    width: 100%;
}

header nav ul li a:active {
    border-bottom: 2px solid #333333;
    padding-bottom: 2px;
}

.delay03s {
    animation-delay: 0.3s;
}

.delay06s {
    animation-delay: 0.6s;
}

h1, h2, h3 {
    color: #111111;
    font-weight: 700;
    line-height: 1;
}

h2 {
    font-size: 30px;
    margin: 96px 0 0 0;
    line-height: 1;
    letter-spacing: -0.7px;
}

h1 {
    letter-spacing: -1px;
    margin: 0;
    line-height: 1;
}

.post h1 {
    text-align: center;
}

.post img {
    margin: 0;
    max-width: 100%;
    padding: 0;
    width: auto;
}

.post ul {
    color: #333333;
    font-size: 20px;
    line-height: 1.6;
    margin: 32px 0 0 0;
    padding: 0 0 0 32px;
}

.post ul li {
    margin: 0 0 0 32px;
    padding: 0;
}

.post a {
    border-bottom: 2px solid #cccccc;
    color: #333333;
    text-decoration: none;
    transition: all 0.2s ease-out;
    padding-bottom: 2px;
}

.post a:hover {
    border-bottom: 2px solid #333333;
}
.home {
    padding: 0 0 32px 0;
}

.home p a {
    color: #1573dd;
    position: relative;
    text-decoration: none;
    border-bottom: 2px solid #1573dd;
    transition: all 0.2s ease-out;

}

.home p a:hover {
    opacity: 0.5;
}	

.home h1 {
    animation-duration: 0.2s;
}

.home p {
  animation-duration: 0.2s;
  animation-delay: 0.2s;
}

p {
    color: #333333;
    font-weight: 400;
    line-height: 1.6;
    margin: 32px 0 0 0;
}

.dot {
    font-weight: 700;
}

.post-meta {
   color: #bdbdc2;
   margin: 32px 0 64px 0;
}

.writing {
    border: none;
    font-weight: 400;
}

.writing ul {
    list-style: none;
    margin: 16px 0 0 0;
    padding: 0;
    width: auto;
}

.writing ul li {
    border-bottom: 1px solid #eeeeee;
    margin: 0;
}

.writing ul li:last-child {
    border-bottom: none;
}

.writing ul li a {
    color: #1573dd;
    position: relative;
    text-decoration: none;
    display: block;
    background-color: #ffffff;
    transition: all 0.2s ease-out;
}

.writing ul li a:hover {
    background-color: #f5f5fa;
    padding: 16px;
    
}


.date {
    color: #cccccc;
    display: inline;
    float: right;
}
   
}

footer {
    margin: 0;
    overflow: hidden;
    width: 100%;
}

footer a {
    color: #1573dd;
    position: relative;
    text-decoration: none;
    border-bottom: 2px solid #1573dd;
    transition: all 0.2s ease-out;
    padding-bottom: 4px;

}

footer a:hover {
    opacity: 0.5;
}

@media only screen and (max-width: 740px) {

    #logo a, #logo a:hover {
        font-size: 18px;
}
    header nav ul li a {
        font-size: 18px;
        margin: 0 0 0 10px;
}

    h1 {
        font-size: 32px;
        letter-spacing: -1px;
}
    p {
        font-size: 18px;
}
    
    .writing {
    font-size: 18px;
}
    .writing ul li a {
    padding: 14px 0 14px 0;
}

    footer {
        font-size: 18px;
}
    .wrapper {
        padding: 0 10px;
}
    .footer-wrapper {
        padding: 64px 10px 64px 10px;
    }
}

@media only screen and (min-width: 741px) {

    #logo a, #logo a:hover {
        font-size: 20px;
}
    header nav ul li a {
        font-size: 20px;
        margin: 0 0 0 32px;
}

    h1 {
        font-size: 40px;
        letter-spacing: -1px;
}
    p {
        font-size: 20px;
}
    .writing {
    font-size: 20px;
}
    
    .writing ul li a {
    padding: 16px 0 16px 0;
}
   
    footer {
        font-size: 20px;
}
    .wrapper {
        padding: 0 20px;
}
        .footer-wrapper {
        padding: 0 10px 64px 10px;
    }
}
