body {
    
    background-color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', Helvetica Neue, Helvetica, Arial, sans-serif;
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

header {
    padding: 40px 0 0 0;
    margin: 0 auto 100px auto;
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.header-wrapper {
    max-width: 700px;
    padding: 0 20px;
    margin: 0 auto;
    display: block;
    overflow: auto;
}

#logo {
    display: inline;
    text-align: left;
    float: left;
}

#logo a, #logo a:hover {
    color: #333333;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}

header nav {
    text-align: right;
    border: none;
    font-weight: 400;
    float: right;

}

header nav ul {
    list-style: none;
    margin: 0;
    width: auto;
}

header nav ul li {
    display: inline;
    margin: 0 0 0 20px;
}

header nav ul li a {
    color: #a0a0a0;
    text-decoration: none;
    transition: all 0.3s ease-out;
    font-size: 18px;
}

header nav ul li a:hover {
    color: #333333;
}

.wrapper {
    max-width: 700px;
    padding: 0 20px;
    margin: 0 auto;
    display: block;
}

h1, h2, h3 {
    color: #333333;
    font-weight: 700;
}

h1 {
    font-size: 44px;
    letter-spacing: -1px;
    margin: 0 0 10px 0;
}

p {
    color: #333333;
    font-size: 20px;
    font-family: 'Roboto';
    line-height: 32px;
    font-weight: 400;
    margin: 0 0 32px 0;
}

footer {
    padding: 0 40px 0 0;
    margin: 0;
    width: 100%;
    font-size: 20px;
}

footer a {
    position: relative;
	white-space: nowrap;
	color: #1573dd;
	text-decoration: none;
}

footer a:after {
	content: "";
	border-bottom: 2px solid #1573dd;
	bottom: -3px;
	left: 100%;
	width: 0;
	transition: width 0.3s, left 0.3s;
	position: absolute;
}

footer a:hover:after {
	left: 0;
	width: 100%;
	transition: width 0.3s;
}

@media only screen and (max-width: 800px) {

    #logo a, #logo a:hover {
        font-size: 18px;
}
    header nav ul li a {
        font-size: 16px;
}
    h1 {
        font-size: 32px;
        letter-spacing: -1px;
}
    p {
        font-size: 18px;
        line-height: 28px;
}
    footer {
        font-size: 18px;
}
    .header-wrapper, .wrapper {
        padding: 0 10px;
}
}
